<div class="item"
     ondragover="event.preventDefault();"
     draggable="true"
     @ondragenter="@OnDragEnter">

    <div>
        <img src="data:image/png;base64, @(item.ImageBase64)" class="img-thumbnail imageList" title="@item.DisplayName" alt="@item.DisplayName"/>
    </div>
</div>