<CascadingValue Value="@this">

    <div class="container">
        <div class="row">
            <div class="col-6">
                <h3>Inventaire</h3>
                <div class="css-grid">

                    @for (int i = 0; i < 18; i++)
                    {
                        <InventoryItem Item="InventoryItems[i]" Index="i"/>
                    }
                </div>
            </div>

            <div class="col-6" id="right">
                <h3>Items</h3>
                <ListItem Items="Items"/>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h3>@Localizer["Actions"]</h3>
                <div class="actions" id="actions"></div>
            </div>
        </div>


    </div>


</CascadingValue>