@page "/"
@using BlazorApp.Components

<PageTitle>Index</PageTitle>

<h1>Mine App !</h1>

<div>
    <Crafting Items="Items" Recipes="Recipes" />
    </div>

<SurveyPrompt Title="How is Blazor working for you?" />
